.container{
    max-width: 1040px;
    padding: 0 20px;
    margin: 0 auto;
}

body{
    /* font-family: 'Martel', serif;
    font-family: 'Montserrat', sans-serif; */
    font-family: 'Open Sans', sans-serif;
}

.overlay{
    background: url('../../src/img/hero.jpg') no-repeat center / cover;
}

.head{
    color: $text;
    font-family: 'Martel', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    letter-spacing: 0.2px;
}

.subhead{
    max-width: 468px;
    color: $text-second;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
}